body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  top: 0;
  position: fixed;
  justify-content: center;
  padding: 20px 0px;
  width: 100%;
  border-bottom: solid 2px black;
}

.footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: center;
  padding: 20px 0px;
  border-top: solid 2px black;
}