.footer {
  display: flex;
  width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
  bottom: 0;
=======
>>>>>>> e6fabb64f47a4d04099754dd8aea1d89357c89a2
  justify-content: center;
  padding: 20px 0px;
  color: white;
}
<<<<<<< HEAD
=======
  justify-content: center;
  padding: 20px 0px;
  color: white;
}
>>>>>>> e6fabb6 (added css for search)
=======
>>>>>>> e6fabb64f47a4d04099754dd8aea1d89357c89a2
