.home-cn{
    display: flex;
    flex-direction: column;
    flex: 5;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: aliceblue;
    text-align: center;
}

.home-tg{
    width: 350px;
    height: 80px;
    text-align: center;
    background:
      linear-gradient(to right, rgb(255, 255, 255) 3px, transparent 3px) 0 100%,
      linear-gradient(to left, rgb(255, 255, 255) 3px, transparent 3px) 100% 0,
      linear-gradient(to bottom, rgb(255, 255, 255) 3px, transparent 3px) 100% 0,
      linear-gradient(to top, rgb(255, 255, 255) 3px, transparent 3px) 0 100%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

.home-cn{
    h1{
        font-weight: 300;
        letter-spacing: .105em;
    }
    .home-p{
        margin-top: 50px;
    }
    p{
        font-size: 2.2em;
        font-weight: 300;
        letter-spacing: .008em;
    }

    button{
        width: 233px;
        height: 48px;
        border: 3px solid rgba(212, 213, 212, 0.3);
        background-color: #272A29;
        color: #fff;
    }
}