.layout {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    align-items: center;
    background-color: #2E2E2E;
    position: relative;
    overflow-x: hidden;
}
