.layout {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    align-items: center;
    row-gap: 20px;
    background-image: url("../assets/Background Image.png");
    background-size: cover;
}
=======
  display: flex;
  flex-direction: column; //flex-direction for top to bottom layout
  height: 100vh;
  background-image: url("../assets/Background Image.png");
  background-size: cover;
}
>>>>>>> e6fabb6 (added css for search)
