.layout {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    align-items: center;
    row-gap: 20px;
    background-color: #2E2E2E;
    // background-image: url("../assets/Background Image.png");
    // background-size: cover;
}
