$text-color: #ffffff;
$link-underline: 3px solid #ffd233;

.navbar {
  display: flex;
  padding: 20px 0px;
  background-color: inherit;
  z-index: 2;
  padding: 20px 0px;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  height: 65px;
  width: 65px;
  padding-left: 10px;

  img {
    width: 100%;
    height: 100%;
  }
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  margin-right: 25px;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: $text-color;
}

.nav > .nav-links > a:hover {
  border-bottom: $link-underline;
}

@media (max-width: 400px) {
  .nav > .nav-btn {
    cursor: pointer;
    display: inline-block;
    right: 0px;
    top: 0px;
    color: $text-color;
    font-size: 2em;
    margin-right: 20px;
  }

  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: none;
  }

  .nav > .nav-links {
    position: absolute;
    display: none;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow: hidden;
    left: 0px;
    top: 100px;
    text-align: center;
  }

  .nav > .nav-visible {
    display: block;
    height: 100vh;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
}
