.summary-cn {
  width: 100%;
  min-height: 100vh;
  margin: 70px auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
    line-height: 1.8;
    letter-spacing: 0.023em;
  }
  h1,
  h3 {
    color: white;
    font-weight: 400;
  }

  .composition-h3 {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .year-h3 {
    margin-top: 30px;
  }

  .no-summary-h1{
    text-align: center;
    padding: 50px 70px;
  }
}

@media (max-width: 550px) {
  .summary-cn {
    text {
      font-size: 0.8em;
    }

    h1 {
      font-size: 1.8em;
    }
  }
}

@media (max-width: 400px) {
  .summary-cn {
    h1 {
      font-size: 1.2em;
      letter-spacing: 0.03em;
    }
  }
}
