.summary-cn{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 50px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        color: white;
        font-weight: 400;
    }
}